<div  th:fragment="nav-left">
    
           <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title"> Massage from Chairman</h3>
        </div>

        <div class="box-body">
       <img class="img-responsive img-thumbnail" th:src="@{/school-image/no_photo_available.png}" /> 

        </div>
    </div>
         <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title"> Massage from Principal</h3>
        </div>

        <div class="box-body">
      <img class="img-responsive img-thumbnail" th:src="@{/school-image/no_photo_available.png}" /> 

        </div>
    </div>
    
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title"> About us</h3>
        </div>

        <div class="box-body">
               <table class="table">
  
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
           <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
           <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    
  </table>     

        </div>
    </div>
    
        <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title"> Important Link </h3>
        </div>

        <div class="box-body">
                    <table class="table">
  
      <tr>
        <td>John</td>
        
      </tr>
      <tr>
        <td>Mary</td>
        
      </tr>
      <tr>
        <td>July</td>
       
      </tr>
           <tr>
        <td>July</td>
      
      </tr>
           <tr>
        <td>July</td>
       
      </tr>
    
  </table>     

        </div>
    </div>
    
    
</div>
