<!--<div xmlns:th="http://www.thymeleaf.org"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:decorate="front-layout-inner-page">
         <div layout:fragment="main_content">-->

<div class="modal fade" id="districtModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select Your Shipping Location</h5>
            </div>
            <div class="modal-body">
                <form hx-post="/district/select"
                      hx-trigger="submit"
                      hx-target="none"
                      hx-swap="none">
                    <select name="location" class="form-select" required>
                        <option value="" disabled selected>Select Location</option>
                        <th:block th:each="location : ${shippinglocations}">
                            <option th:value="${location.id}" th:text="${location.displayLabel}"></option>
                        </th:block>
                    </select>
                    <button type="submit" class="btn btn-primary mt-3 w-100">Save</button>
                </form>
            </div>

        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const modalElement = document.getElementById('districtModal');
        const modal = new bootstrap.Modal(modalElement, {
            backdrop: 'static',
            keyboard: false
        });
        modal.show();

        // When HTMX request finishes, hide the modal
        modalElement.addEventListener('htmx:afterOnLoad', function () {
            modal.hide();
        });
    });
</script>
