<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="admin-layout">
    <div layout:fragment = "main_content">


        <div> <h4> Services <small>Home>services</small></h4>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-header">
                        <div class="row">   <div class="col-sm-5 font-weight-bold text-danger"><i class="fas fa-list"></i> Services Details</div>
                            <div class="col-sm-7 "> <a class="btn btn-success btn-sm float-right" th:href="@{/services/index}">Close</a></div>
                        </div>
                    </div>
                    <div class="card-body">

                        <table class="table table-bordered">
                            <tr>
                                <td th:text="${services_details.title}">Otto</td>
                                <td th:text="${services_details.subtitle}"> </td>
                            </tr>

                            <tr>
                                <td> 
                                    <span th:if="${ not #strings.isEmpty(services_details.imageName)}" class="badge bg-green pull-right"> 
                                        <img  class="" th:src="@{/files/}+${services_details.imageName}" width="300px"  height="250px"/>
                                    </span>

                                    <span th:if="${#strings.isEmpty(services_details.imageName)}" > Image Not Found </span></td>

                                <td th:text="${services_details.description}"> </td>

                            </tr>

                            <tr>
                                <td> Created: <span th:text="${services_details.created}"> </span> </td>
                                <td> Created By: <span th:text="${services_details.createdBy}"> </span> </td>
                            </tr>

                            <tr>
                                <td> Updated: <span th:text="${services_details.modified}"> </span></td>

                                <td>Updated By: <span th:text="${services_details.modifiedBy}"> </span></td>
                            </tr>

                            <tr>
                                <td> <a th:href="@{/services/edit/{id}(id=${services_details.id})}"> Edit  </a></td>

                                <td><a th:href="@{/services/delete/{id}(id=${services_details.id})}"> Delete </a></td>
                            </tr>
                        </table>

                    </div><!--  Card body end-->

                    <div class="card-footer">
                    </div> <!--  Card footer end-->
                </div><!--  Card  end-->

            </div>   </div>
    </div><!--  Main Content  end-->
</div>   <!--  Layout end-->