<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="admin-layout">
    <div layout:fragment = "main_content">

        <div> <h4> Gallery <small>Home>Gallery Image</small></h4>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">  <div class="col-sm-5 font-weight-bold text-danger"><i class="fas fa-list"></i> Images List</div>
                            <div class="col-sm-7 "> <a class="btn btn-success btn-sm float-right" th:href="@{/images/create}"> Add Image </a></div>
                        </div>
                    </div>
                    <div class="card-body">

                        <span th:text="${message}"></span>

                        <table class="table table-bordered">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Title</th>
                                    <th scope="col"> Image </th>
                                    <th scope="col">Gallery Name</th>
                                    <th scope="col"> Created </th>
                                    <th scope="col"> Updated </th>
                                    <th scope="col"> Edit </th>
                                    <th scope="col"> Delete </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="imageslists,status:${imageslist}">

                                    <th th:text="${status.count}">1</th>

                                    <td th:text="${imageslists.name}"> </td>
                                    <td>
                                        <span th:if="${ not #strings.isEmpty(imageslists.imageName)}" class="badge bg-green pull-right"> 
                                            <img  class="img-responsive" th:src="@{/files/}+${imageslists.imageName}" width="300"  height="168"/>
                                        </span>
                                        <span th:if="${#strings.isEmpty(imageslists.imageName)}" > Image Not Found </span>
                                    </td>
                                    <td >
                                        <span th:text="${imageslists.gallery.name}"></span>
                                       
                                        
                                    </td>
                                    <td th:text="${imageslists.created}">Otto</td>

                                    <td th:text="${imageslists.modified}">@mdo</td>

                                    <td> <a th:href="@{/images/edit/{id}(id=${imageslists.id})}"> Edit</a></td>

                                    <td> <a th:href="@{/images/delete/{id}(id=${imageslists.id})}">Delete</a></td>

                                </tr>
                            </tbody>
                        </table>


                    </div><!--  Card body end-->

                    <div class="card-footer">
                    </div> <!--  Card footer end-->
                </div><!--  Card  end-->

            </div>
        </div>
    </div><!--  Main Content  end-->
</div>   <!--  Layout end-->