<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">
    <div layout:fragment = "main_content">
        <section> 
            <div class="row">
                <div class="col-sm-3"><h4> Product Category</h4></div>
                <div class="col-sm-5">   
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Product Category</li>
                        </ol>
                    </nav>
                </div></div>
        </section>

        <hr/>
        <div class="row">
            <div class="col-sm-12">

<!--                <div class="card">
                    <div class="card-header">
                        Head 
                    </div>
                    <div class="card-body">

                        <h1>Category Tree</h1>

                        <ul>
                            <div th:each="category : ${productcategorylist}">
                                <li th:if="${category.parent == null}">
                                    <span th:text="${category.name}"></span>
                                    <ul>
                                        <div>
                                            <li th:each="child : ${category.children}">
                                               ..... <span th:text="${child.name}"></span>
                                                <ul>
                                                    <li th:each="grandChild : ${child.children}">
                                                        ...<span th:text="${grandChild.name}"></span>
                                                    </li>
                                                </ul>
                                            </li>
                                        </div>
                                    </ul>
                                </li>
                            </div>
                        </ul>

                    </div>
                </div>  Card  end-->





                    <div class="card">
                                    <div class="card-header">
                                        <div class="row">  <div class="col-sm-5 font-weight-bold "><strong><i class="fas fa-list"></i> Product Category List </strong></div>
                                            <div class="col-sm-7 text-end ">
                                                <div class="btn-group ">
                                                    <a class="btn btn-success btn-sm float-right" th:href="@{/productcategory/create}"> Add Product Category</a></div>
                                            </div> </div>
                                    </div>
                
                
                                    <div class="card-body table-responsive">
                                        <span th:if="${ not #strings.isEmpty(message)}">
                                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                <span th:text="${message}" > </span>
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        </span>
                                        <table id="example" class="table table-bordered table-hover table-striped">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Parent</th>
                                                    <th scope="col"> Slug </th>
                
                                                    <th scope="col"> Product Qnt. </th>
                                                    <th scope="col"> Order no </th>
                                                    <th scope="col"> Image </th>
                                                    <th scope="col"> Status </th>
                                                    <th scope="col"> Created </th>
                                                    <th scope="col"> Updated </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="productcategorylists,status:${productcategorylist}">
                
                                                    <th th:text="${status.count}">1</th>
                
                                                    <td> <a th:href="@{/productcategory/details/{id}(id=${productcategorylists.id})}" th:text="${productcategorylists.name}">    </a></td>
                                                    <td>
                                                        <span th:if="${productcategorylists.parent!= null}" th:text="${productcategorylists.parent.name}"></span>
                                                        <span th:unless="${productcategorylists.parent != null}">Null</span>
                                                    </td>
                                                    <td th:text="${productcategorylists.slug}">Otto</td>
                
                                                    <td th:text="${productcategorylists.ourproduct.size()}">Otto</td>
                
                                                    <td th:text="${productcategorylists.orderno}">Otto</td>
                
                                                    <td>
                                                        <span th:if="${ not #strings.isEmpty(productcategorylists.imageName)}" class="badge bg-green pull-right"> 
                                                            <img  class="img-responsive" th:src="@{/files/}+${productcategorylists.imageName}" width="100px"  height="100px"/>
                                                        </span>
                
                                                        <span th:if="${#strings.isEmpty(productcategorylists.imageName)}" > Image Not Found </span>
                
                                                    </td>
                
                                                    <td th:text="${productcategorylists.status}">Otto</td>
                
                                                    <td th:text="${productcategorylists.created}">Otto</td>
                
                                                    <td th:text="${productcategorylists.modified}">@mdo</td>
                                                </tr>
                                            </tbody>
                                        </table>
                
                                    </div>
                                </div>

                <!--  Card  end-->




            </div><!--  Main Content  end-->
        </div>   <!--  Layout end-->
    </div><!--  Main Content  end-->
</div>   <!--  Layout end-->