<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">
    <div layout:fragment = "main_content">
        <section> 
            <div class="row">
                <div class="col-sm-3"><h4> Categories</h4></div>
                <div class="col-sm-5">   
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a  class="nav-link" href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Product Category</li>
                        </ol>
                    </nav>
                </div></div>
        </section>

        <hr/>


        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row"> 

                            <div class="col-sm-5 font-weight-bold "> <strong> <i class="bi bi-list-task"></i>  Category List [[${categories.size()}]] </strong> </div>
                            <div class="col-sm-7 text-end ">
                                <div class="btn-group ">
                                    <a class="btn btn-success btn-sm " th:href="@{/productcategory/create}"> <i class="bi bi-plus-circle"></i> Add Product Category</a>
                                    <a class="btn btn-danger btn-sm " th:href="@{/admin/index}"> <i class="bi bi-x-circle"></i> Close</a>
                                </div>
                            </div> 
                        </div>
                    </div>


                    <div class="card-body table-responsive">
                        <span th:if="${ not #strings.isEmpty(message)}">
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <span th:text="${message}" > </span>

                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"></span>
                                </button>
                            </div>
                        </span>
                        <table id="example" class="table table-bordered table-hover table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Parent</th>
                                    <th scope="col"> Sort Order</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="productcategorylists , status : ${categories}">

                                    <td th:text="${status.count}"> </td>
                                    <td th:text="${productcategorylists.name}"> </td>
                                    <td >

                                        <span th:if="${productcategorylists.parent != null}">
                                            [[${productcategorylists.parent.name}]]
                                            ->
                                            [[${productcategorylists.name}]]
                                        </span>

                                        <span th:if="${productcategorylists.parent == null}">
                                            <span class="text-danger">  No Parent</span>
                                        </span>



                                    </td>
                                    <td th:text="${productcategorylists.orderno}"> </td>
                                    
                                    <td><a  type="button" th:href="@{/productcategory/details/{id}(id=${productlists.id})}">  <button class="btn btn-success btn-sm " > <i class="bi bi-eye-slash"></i> View </button>  </a></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>






            </div> 
            <!--                        Main Content  end-->
        </div>    
        <!--Layout end-->
    </div><!--  Main Content  end-->
</div>   <!--  Layout end-->