<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="front-layout-home">
    <div layout:fragment = "main_content">

            <div class="container-fluid  d-none d-sm-block banner" style="box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);">
                <div  class="row"style="background: rgba(0, 0, 0, .5);  filter: alpha(opacity=50); /* For IE8 and earlier */ min-height: 500px">
                    <div class="col-sm-12">
                        <h1 class="display-3 font-weight-bold text-white text-center mt-5">Welcome </h1> 
                        <h5 class="display-4 text-white text-center">SMS  Gateway

                        </h5>
                        <h5 class="text-white text-center font-weight-bold" style="line-height: 35px">    

                        </h5>

                        <p class="lead">&nbsp;</p>
                        <p class="lead">&nbsp;</p>
                    </div>
                </div>
            </div>

  















        <!--  ..........................................................................
        ..                                                                            ..
        ..                                                                            ..
        ..                                                                            ..
        
        ..                       Mobile Section Start                                 ..   
        ..                                                                            ..
        ..                                                                            ..
        .. .............................................................................-->

        <section class="mobile d-block d-sm-none">

            <div th:replace="mobile-top-nav"></div>

            <div class="row mt-5"> </div>
            <div class="row mt-3"> </div>

            <section  class="mobile_home_box_effect_count d-block d-sm-none">
                <div class="container-fluid" >
                    <div class="row">

                        <div class="col-3 border-right border-danger textMaroon text-center">

                        </div>

                        <div class="col-3  border-right border-danger textMaroon text-center">


                        </div>
                        <div class="col-3  border-right border-danger textMaroon text-center">


                        </div>

                        <div class="col-3 textMaroon text-center">


                        </div>
                    </div>
                </div>
            </section>

            <section class="d-block d-sm-none">
                <div class="container-fluid ">   

                    <!--                Mobile -->

                    <h1>Welcome </h1> 
                    <h5>Ajmaeen General Trading LLC</h5>


                        <!--   Mobile  -->
                </div>



            </section>






            <!--Contact Start -->







            <section class="mb-5"></section>

            <div th:replace="bottom-nav">

                <!-- Header  -->

            </div>


        </section>
    </div>
</div>