<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="error-layout">
    <div layout:fragment = "main_content">

        <section class="" style="background-color: #992337; min-height: 400px">
            <div class="container-fluid">
                <div class="col-md-12 ">
                    <h3 class="  text-white font-weight-bold text-center ">Coming Soon ...............</h3> 
                    <h1  class="  text-white font-weight-bold text-center m-5">Attend Model Test On Your Schedule </h1>
                    <h3 class="  text-white font-weight-bold text-center m-5">Anywhere, Anytime </h3> 
                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="card m-1">
                            <div class="card-header">
                                ছাত্র
                            </div>
                            <div class="card-body">

                                <p class="card-text">আপনি  কি একজন চাকরি  পদপ্রার্থী আপনার সর্বশেষ প্রস্তুতি যাচাই করতে www.oxfordeducare.com  এ মডেল টেস্ট অংশগ্রহণ করুন ।</p>
                                <p> www.oxfordeducare.com  এ খুব সহজে আপনি বিভিন্ন পরীক্ষার জন্য মডেল টেস্ট দিতে পারবেন ।</p>
                              
                                <ul class="list-unstyled">
                                    <li>   Bank Model Test,</li>
                                    <li>BCS Model Test,</li>
                                    <li>Primary School Teacher Exam Model Test,</li>
                                    <li> Govt. Jobs,</li>
                                    <li> NTRCA, </li>
                                    <li> University Admission, </li>
                                    <li> Medical Admission,</li>
                                    <li>S.S.C</li>
                                    <li>H.S.C</li>

                                </ul>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card  m-1">
                            <div class="card-header">
                                শিক্ষক
                            </div>
                            <div class="card-body">

                                <p class="card-text">আপনি কি স্কুল কলেজ অথবা যে কোন কোচিং এ ক্লাস নেন কিংবা চাকরি করেন ? <br>
                                    চাকরির পাশাপাশি অনলাইন এ আয় করতে চান ? <br>
                                    www.oxfordeducare.com  এ মডেল টেস্ট Instructor হিসাবে   নিবন্ধন করুন। <br>
                                    বাড়তি কিছু আয় করুন ।</p>
                                <p> Details: 01714117032</p>
                              
                                <br>         <br>         <br>         <br>         <br>         <br>         <br>         <br>       <br>     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>




    </div>
</div>