<div id="districtModal" class="modal" style="display:block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Select Shipping Location</h5>
            </div>
            <div class="modal-body">
                <form hx-post="/cart/save-district-and-add"
                      hx-vals='{"productId": [[${productId}]]}'
                      hx-target="#districtModal"
                      hx-swap="outerHTML">
                    <select name="location" class="form-select" required>
                        <option value="">-- Select Location --</option>
                        <option th:each="location : ${shippinglocations}"
                                th:value="${location.id}"
                                th:text="${location.displayLabel}"></option>
                    </select>
                    <button type="submit" class="btn btn-primary mt-2">Save & Add to Cart</button>
                </form>
            </div>
        </div>
    </div>
</div>
