<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="front-layout-inner-page">
    <div layout:fragment="main_content">

        <section  class="breadcrumb_section">
            <div class="container">
                <nav aria-label="breadcrumb" class="pt-3 pb-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/" class="nav-link">  <i class="bi bi-house"></i> Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Cart</li>
                    </ol>
                </nav>
            </div>
        </section>

        <section>
            <div class="container pt-5 pb-5">
                <div class="row ">
                    <div class="col-sm-8">

                        <div class="card row" >
                            <div class="card-header">
                                <i class="fas fa-shopping-cart text-warning"></i>  Your cart
                                <!--                                <span th:text="${session.sessioncart.size()}"></span>-->
                            </div>

                            <div class="card-body">

                                <div class="" th:if="${session.sessioncart==null}" >
                                    <h1>  Your Cart is Currently Empty</h1>
                                    Before proceed to checkout you must add some products to your shopping cart.
                                    You will find a lot of interesting products on our "PRODUCT" page.
                                </div>


                                <div class="table-responsive" th:if="${session.sessioncart!=null}" >
                                    <table class="table table-bordered  table-striped t">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Product</th>
                                                <th scope="col">Photo</th>
                                                <th scope="col"> sales price</th>
                                                <th scope="col">Quantity</th>
                                                <th scope="col">Discount Rate % </th>
                                                <th scope="col"> Discount Amount</th>
                                                <th scope="col">Vat Rate % </th>
                                                <th scope="col"> Vat Amount </th>
                                                <th scope="col"> Item Total</th>
                                                <th scope="col">Remove</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="cart,status : ${session.sessioncart}">
                                                <th> [[${status.count}]]</th>
                                                <td><a    class="nav-link" th:href="@{/public/single-product/{prodid}(prodid=${cart.product.id})}" >  <span  th:text="${cart.product.title}">    </span> </a></td>

                                                <td> <span th:if="${ not #strings.isEmpty(cart.product.imageName)}" class="badge bg-green pull-right">
                                                        <img  class="img-responsive" th:src="@{/files/}+${cart.product.imageName}" width="100px"  height="100px"/>
                                                    </span>

                                                    <span th:if="${#strings.isEmpty(cart.product.imageName)}" > Image Not Found </span></td>

                                                <td th:text="${cart.salesPrice}">Otto</td>
                                                <td>
                                                    <form


                                                        th:attr="hx-post=@{/cart/quantityUpdate}"
                                                        hx-params="*"
                                                        hx-trigger="change from:input[name='quantity']"

                                                        hx-target="body"
                                                        hx-swap="outerHTML">

                                                        <input type="hidden" name="product_id" th:value="${cart.product.id}" />
                                                        <input type="number" name="quantity" min="1" th:value="${cart.quantity}" />
                                                    </form>


                                                    <!--                                                    <form  class="" th:action="@{/cart/quantityUpdate}"  enctype="multipart/form-data" method="post" >
                                                                                                            <input type="hidden" class="form-control" th:name ="product_id" th:value="${cart.product.id}" />
                                                                                                            <input  type="number" min="1" th:name="quantity"  th:value="${cart.quantity}" />
                                                                                                            <button type="submit" class="btn btn-block btn-sm btn-warning">Proceed To Checkout</button>
                                                                                                        </form>-->
                                                </td>
                                                <td th:text="${cart.discountRate}">Otto</td>
                                                <td th:text="${cart.discountAmount}">Otto</td>
                                                <td th:text="${cart.vatRate}">Otto</td>
                                                <td th:text="${cart.vatAmount}">Otto</td>
                                                <td th:text="${cart.itemTotal}">Otto</td>
                                                <td class="text-center"><a th:href="@{/cart/remove/{id}(id=${cart.product.id})}" > Delete </a></td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="card-footer">
                                <a th:href="@{/public/product}" type="button" class="btn btn-sm btn-success"> Continue Shopping</a>

                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4">

                        <div class="card">
                            <div class="card-header">
                                <i class="fas fa-money-check text-warning"></i>  Order   Summary
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Sub Total:<span th:text="${#numbers.formatDecimal(subtotal, 0, 'COMMA', 2, 'POINT')}">10.00</span> /-</li>

                                <li class="list-group-item">Order Total: <span th:text="${#numbers.formatDecimal(subtotal, 0, 'COMMA', 2, 'POINT')}">10.00</span>/-</li>
                                <!--                                <li class="list-group-item">
                                                                    <a type="button" class="btn btn-block btn-sm btn-warning">Update Shopping  Cart</a>
                                                                </li>-->
                                <li class="list-group-item">
                                    <a type="button" class="btn btn-block btn-sm btn-warning" th:href="@{/order/create}">Proceed To Checkout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>