<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="front-layout-inner-page">
    <div layout:fragment="main_content">

        <section  class="breadcrumb_section">
            <div class="container">
                <nav aria-label="breadcrumb" class="pt-3 pb-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/" class="nav-link">  <i class="bi bi-house"></i> Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Cart</li>
                    </ol>
                </nav>
            </div>
        </section>
        <section>
            <div class="container pt-5 pb-5">
                <div class="row ">
                    <div class="col-sm-8">

                        <div class="card row" >
                            <div class="card-header">
                                <i class="fas fa-shopping-cart text-warning"></i>  Your cart
                                <!--                                <span th:text="${session.sessioncart.size()}"></span>-->
                            </div>

                            <div class="card-body">

                                <div class="modal fade" id="districtModal" tabindex="-1" aria-hidden="true"
                                     th:data-show="${showDistrictModal}">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Select Your Shipping District</h5>
                                            </div>
                                            <div class="modal-body">
                                                <select id="districtSelect" class="form-select">
                                                    <option th:each="d : ${shippinglocations}"
                                                            th:value="${d}"
                                                            th:text="${d}">
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="modal-footer">
                                                <button id="saveDistrict" class="btn btn-primary">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="" th:if="${session.sessioncart==null}" >
                                    <h1>  Your Cart is Currently Empty</h1>
                                    Before proceed to checkout you must add some products to your shopping cart.
                                    You will find a lot of interesting products on our "PRODUCT" page.
                                </div>

                                <div id="cartContainer"></div>


                                <div id="grandTotal" class="fw-bold mt-3"></div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">

                        <div class="card">
                            <div class="card-header">
                                <i class="fas fa-money-check text-warning"></i>  Order   Summary
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Sub Total:<span th:text="${#numbers.formatDecimal(subtotal, 0, 'COMMA', 2, 'POINT')}">10.00</span> /-</li>

                                <li class="list-group-item">Order Total: <span th:text="${#numbers.formatDecimal(subtotal, 0, 'COMMA', 2, 'POINT')}">10.00</span>/-</li>
                                <!--                                <li class="list-group-item">
                                                                    <a type="button" class="btn btn-block btn-sm btn-warning">Update Shopping  Cart</a>
                                                                </li>-->
                                <li class="list-group-item">
                                    <a type="button" class="btn btn-block btn-sm btn-warning" th:href="@{/order/create}">Proceed To Checkout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>