/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */


#header {
    border-bottom: 1px solid #d8d8d8;
    box-shadow: 0 0 3px #ccc;
    z-index: 1000;
    margin: 0;
    padding: 0;

}

#page-header{
    vertical-align: middle;
    margin: 20px 0 15px;
    padding: 0;
    padding-bottom: 0px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e9e9e9;
}
#sidebar {
    background: #19222e;
    color: #fff;
    transition: all 0.3s;
}

.menu-item{
    border: #9900cc!important;


}
.accordion-header a:hover {
    background-color: #fff; /* Hover color */
}
.menu-item{
    background-color:#242d37!important;
    border-bottom: 1px solid #2b3642;
    color: #b3cbdd;
    padding: 10px;
    font-size: 1em;
    display: block;
}
.menu-header{
    background-color:#242d37!important;
    border-bottom: 1px solid #2b3642;
    color: #b3cbdd;
    padding: 10px;
    font-size: 1em;
    display: block;
}




#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    background:#19222e;
}


#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li  {
    background-color:#242d37;
    border-bottom: 1px solid #2b3642;
}

#sidebar ul li:hover  {
    background-color:  #242d37;
}


#sidebar ul li a {
    color: #b3cbdd;
    padding: 10px;
    font-size: 1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background:#444444;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    /*    color: #fff;*/
    background: #242d37;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #293141;
}

ul ul  a:hover {
    background: #19222e;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}



/*
 * Navbar
 */


/*
 * Utilities
 */

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.textMaroon{
    color:#992337;
}
.bgMaroon {
    background-color: #992337;
}
.borderColor{
    border-color: #992337;
}