<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="admin-layout">
    <div layout:fragment = "main_content">
        <div> <h4> Clients <small>Home>Clients</small></h4>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-header">
                        <div class="row">  <div class="col-sm-5 font-weight-bold text-danger"><i class="fas fa-list"></i> Clients List </div>
                            <div class="col-sm-7 "> <a class="btn btn-success btn-sm float-right" th:href="@{/clients/create}"> Add Clients</a></div>
                        </div>
                    </div>
                    <div class="card-body">

                        <span th:if="${ not #strings.isEmpty(message)}">
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <span th:text="${message}" > </span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </span>

                        <table class="table table-bordered">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col"> Image </th>
                                    <th scope="col"> Web Site</th>
                                    <th scope="col"> Status </th>
                                    <th scope="col"> Created </th>
                                    <th scope="col"> Updated </th>

                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr th:each="clientlists,status:${clientlist}">

                                    <th th:text="${status.count}">1</th>

                                    <td> <a th:href="@{/clients/details/{id}(id=${clientlists.id})}" th:text="${clientlists.name}">    </a></td>

                                    <td>
                                        <span th:if="${ not #strings.isEmpty(clientlists.imageName)}" class="badge bg-green pull-right"> 
                                            <img  class="img-responsive" th:src="@{/files/}+${clientlists.imageName}" width="100px"  height="100px"/>
                                        </span>

                                        <span th:if="${#strings.isEmpty(clientlists.imageName)}" > Image Not Found </span>

                                    </td>

                                    <td th:text="${clientlists.url}">Otto</td>
                                    
                                    <td th:text="${clientlists.status}">Otto</td>
                                    
                                    <td th:text="${clientlists.created}">Otto</td>
                                    
                                    <td th:text="${clientlists.modified}">@mdo</td>
                                </tr>
                            </tbody>
                        </table>
                     </div><!--  Card body end-->


                </div><!--  Card  end-->


            </div><!--  Main Content  end-->
        </div>   <!--  Layout end-->