<div class=" d-block d-sm-none p-1">
    <div class="d-flex flex-wrap">
        <div class="p-1"><a  class="btn btn-outline-danger btn-sm" th:href="@{/customer/}">Home</a></div>
        <div class="p-1"><a type="button" class="btn btn-outline-danger btn-sm" th:href="@{/customerprofileimage/index}"> <span class="fa-li"><i class="fas fa-wallet"></i>
                </span>Profile Image</a></div>
                         <div class="p-1"><a class="textMaroon " th:href="@{/customerprofileimage/index}"> <span class="fa-li"><i class="fas fa-wallet"></i> </span>Profile</a></div>
             <div class="p-1"><a class="textMaroon " th:href="@{/customerprofileimage/index}"> <span class="fa-li"><i class="fas fa-wallet"></i> </span>Profile Image</a></div>
                         <div class="p-1"><a class="textMaroon " th:href="@{/customerprofileimage/index}"> <span class="fa-li"><i class="fas fa-wallet"></i> </span>Team</a></div>
    </div>  
</div>

