<div xmlns:th="http://www.thymeleaf.org"
     th:fragment="customerSidebar"
     class="card customer-sidebar-menu vendor-sidebar-menu border-0 shadow-sm">

    <div class="card-header bg-white border-bottom-0 fw-semibold">
        <i class="fas fa-list"></i> Navigation : Customer
    </div>

    <div class="card-body p-0">
        <ul class="list-group list-group-flush customer-sidebar-nav" id="customerSidebarAccordion">
            <li class="list-group-item">
                <a class="nav-link" data-path-match="/customer,/customer/index,/customer/dashboards" th:href="@{/customer/}">
                    <i class="bi bi-house-door"></i>
                    <span>Home</span>
                </a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" data-path-match="/customer-profile,/customerprofileimage" th:href="@{/customer-profile/index}">
                    <i class="bi bi-person-circle"></i>
                    <span>My Profile</span>
                </a>
            </li>
            <!--            <li class="list-group-item"  >
                            <a class="dropdown-toggle btn-toggle-nav " type="button" data-bs-toggle="collapse" data-bs-target="#sms" aria-expanded="false" aria-controls="sms"> <span class="fa-li"><i class="fas fa-cart-plus"></i></span>SMS</a>
                              <div class="collapse" id="sms">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small"  >

                                    <li >
                                        <a class="nav-link" th:href="@{/customer_contactsno/index}">
                                            <i class="far fa-file"></i>
                                            Manage Contacts
                                        </a>
                                    </li>
                                    <li >
                                        <a class="nav-link" th:href="@{/customer_contactgroup/index}">
                                            <i class="far fa-file"></i>
                                            Manage Contacts Group
                                        </a>
                                    </li>


                                    <li >
                                        <a class="nav-link" th:href="@{/customer_plan/index}">
                                            <i class="far fa-file"></i>
                                            Manage SMS Price Plan
                                        </a>
                                    </li>

                                    <li>
                                        <a class="nav-link" th:href="@{/gatewaycustomer/index}">
                                            <i class="far fa-file"></i>
                                            Gateway List
                                        </a>
                                    </li>


                                    <li>
                                        <a class="nav-link" th:href="@{/devicecustomer/index}">
                                            <i class="far fa-file"></i>
                                            Device List
                                        </a>
                                    </li>


                                    <li >
                                        <a class="nav-link" th:href="@{/customer_smssend/index}">
                                            <i class="far fa-file"></i>
                                            Manage SMS
                                        </a>
                                    </li>

                                    <li >
                                        <a class="nav-link" th:href="@{/customer_smstemplate/index}">
                                            <i class="far fa-file"></i>
                                            Manage SMS Template
                                        </a>
                                    </li>
                                    <li >
                                        <a class="nav-link" th:href="@{/}">
                                            <i class="far fa-file"></i>
                                            Send Schedule SMS
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="list-group-item"  >

                            <a class="textMaroon "type="button" data-bs-toggle="collapse"
                               data-bs-target="#whatsapp" aria-expanded="false" aria-controls="whatsapp">
                                <span class="fa-li"><i class="fas fa-cart-plus"></i></span> Whatsapp
                            </a>

                            <div class="collapse" id="whatsapp">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small"  >

                                    <li>
                                        <a class="nav-link" th:href="@{/customerwhatsappcontactgroup/index}">
                                            <i class="far fa-file"></i>
                                            Manage Whatsapp Contacts Group
                                        </a>
                                    </li>

                                    <li >
                                        <a class="nav-link" th:href="@{/customerwhatsappcontactsno/index}">
                                            <i class="far fa-file"></i>
                                            Manage Whatsapp Contacts
                                        </a>
                                    </li>



                                    <li >
                                        <a class="nav-link" th:href="@{/customerwhatsapppriceplan/index}">
                                            <i class="far fa-file"></i>
                                            Manage Whatsapp Price Plan
                                        </a>
                                    </li>
                                    <li >
                                        <a class="nav-link" th:href="@{/customersendwhatsappmessage/index}">
                                            <i class="far fa-file"></i>
                                            Manage Whatsapp Message
                                        </a>
                                    </li>
                                    <li >
                                        <a class="nav-link" th:href="@{/customerwhatsapptemplate/index}">
                                            <i class="far fa-file"></i>
                                            Manage Whatsapp Template
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>-->

            <li class="list-group-item">
                <a class="nav-link" data-path-match="/customer/storelist" th:href="@{/customer/storelist}">
                    <i class="bi bi-shop"></i>
                    <span>Vendor Panel</span>
                </a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" data-path-match="/customer_registration" th:href="@{/customer_registration/registration}">
                    <i class="bi bi-person-plus"></i>
                    <span>New Customer Registration</span>
                </a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" data-path-match="/customer-team" th:href="@{/customer-team/index}">
                    <i class="bi bi-people"></i>
                    <span>My Team</span>
                </a>
            </li>
            <!--      <li class="list-group-item"><a class="textMaroon " th:href="@{/customer-profile/index}"> <span class="fa-li"><i class="fas fa-wallet"></i> </span>Profile</a></li>
          <li class="list-group-item"><a class="textMaroon " th:href="@{/customerprofileimage/index}"> <span class="fa-li"><i class="fas fa-wallet"></i> </span>Profile Image</a></li>
          <li class="list-group-item"><a class="textMaroon " th:href="@{/customerprofileimage/index}"> <span class="fa-li"><i class="fas fa-wallet"></i> </span>Address</a></li>-->

            <!--            <li class="list-group-item"><a class="textMaroon " th:href="@{/customerblog/index}"> <span class="fa-li"><i class="fas fa-wallet"></i> </span>Blog</a></li>
                        <li class="list-group-item"><a class="textMaroon " th:href="@{/customerexamcomment/index}"> <span class="fa-li"><i class="fas fa-wallet"></i> </span>Comments</a></li>
                        <li class="list-group-item"><a class="textMaroon " th:href="@{/customerrate/index}"> <span class="fa-li"><i class="fas fa-wallet"></i> </span>Rate</a></li>-->
            <li class="list-group-item">
                <a class="nav-link" data-path-match="/customerorder" th:href="@{/customerorder/index}">
                    <i class="bi bi-bag-check"></i>
                    <span>My Orders</span>
                </a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" data-path-match="/customerorder/returns" th:href="@{/customerorder/returns}">
                    <i class="bi bi-arrow-return-left"></i>
                    <span>Returns</span>
                </a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" data-path-match="/customerorder/refunds" th:href="@{/customerorder/refunds}">
                    <i class="bi bi-arrow-left-circle"></i>
                    <span>Refunds</span>
                </a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" data-path-match="/wishlist" th:href="@{/wishlist/index}">
                    <i class="bi bi-heart"></i>
                    <span>Wishlist</span>
                </a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" data-path-match="/public/browsing-history" th:href="@{/public/browsing-history}">
                    <i class="bi bi-clock-history"></i>
                    <span>Browsing History</span>
                </a>
            </li>
            <!--            <li class="list-group-item"><a class="textMaroon " th:href="@{/customerorder/index}"> <span class="fa-li"><i class="fas fa-cart-plus"></i></span>Downloadable Product</a></li>
                        <li class="list-group-item"><a class="textMaroon " th:href="@{/customerorder/index}"> <span class="fa-li"><i class="fas fa-cart-plus"></i></span>Reviews</a></li>
                        <li class="list-group-item"><a class="textMaroon " th:href="@{/customerorder/index}"> <span class="fa-li"><i class="fas fa-cart-plus"></i></span>Wishlist</a></li>-->
            <li class="list-group-item customer-sidebar-item customer-sidebar-item--has-children">
                <button class="nav-link customer-submenu-toggle collapsed" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#customerReferralRewardsMenu"
                        aria-expanded="false"
                        aria-controls="customerReferralRewardsMenu">
                    <span class="customer-submenu-label">
                        <i class="fas fa-gift"></i>
                        <span>Referral Rewards</span>
                    </span>
                    <i class="bi bi-chevron-down customer-submenu-chevron" aria-hidden="true"></i>
                </button>

                <div class="collapse customer-submenu" id="customerReferralRewardsMenu" data-bs-parent="#customerSidebarAccordion">
                    <ul class="list-unstyled customer-submenu-list mb-0">
                        <li>
                            <a class="nav-link customer-submenu-link" data-path-match="/referralrewards" th:href="@{/referralrewards/dashbords}">
                                <i class="bi bi-grid-1x2"></i>
                                <span>Rewards Overview</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link customer-submenu-link" data-path-match="/customerreferral" th:href="@{/customerreferral/list}">
                                <i class="bi bi-diagram-3"></i>
                                <span>Referral</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link customer-submenu-link" data-path-match="/customerwallet" th:href="@{/customerwallet/wallet}">
                                <i class="bi bi-wallet2"></i>
                                <span>Wallet</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link customer-submenu-link" data-path-match="/cashoutcustomerrequest" th:href="@{/cashoutcustomerrequest/list}">
                                <i class="bi bi-cash-coin"></i>
                                <span>Cash Out Request</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link customer-submenu-link" data-path-match="/customerwallettransaction" th:href="@{/customerwallettransaction/list}">
                                <i class="bi bi-receipt"></i>
                                <span>Wallet Transaction</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <!--    <li class="list-group-item"><a class="textMaroon " th:href="@{/customer-transaction/index}"> <span class="fa-li"><i class="fas fa-cart-plus"></i></span>Transaction</a></li>-->
            <li class="list-group-item">
                <a class="nav-link" th:href="@{/users/logout}">
                    <i class="bi bi-box-arrow-right"></i>
                    <span>Logout</span>
                </a>
            </li>
            <!--            <li class="list-group-item"> <a class="textMaroon " th:href="@{/customer-billingaddress/index}"> <span class="fa-li"><i class="fas fa-map-marked"></i> </span>Addresses</a></li>-->
        </ul>


    </div>
</div>
