<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="google-site-verification" content="heb7DbEV8OfK4Hk0PVraKZ2WTOSS4um_zW9s_9lH2mI" />

        <meta name="description" content="">
        <meta name="keywords" 
              content="  ">
        <meta name="author" content="">

        <link rel="stylesheet" th:href="@{/bootstrap-5.2.3-dist/css/bootstrap.min.css}"/>

        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

        <!--  Font Awsome  -->
        <!--        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">-->
        <link rel="stylesheet" th:href="@{/fontawesome/css/all.css}">
        <!-- wol carousel -->
        <!--        <link rel="stylesheet" th:href="@{/plugin/owlcarousel/assets/owl.carousel.min.css}">
                <link rel="stylesheet" th:href="@{/plugin/owlcarousel/assets/owl.theme.green.min.css}">-->

        <!--        animate.min.css-->
        <link rel="stylesheet" th:href="@{/css/animate.css}">

        <!--        Hover css-->
        <link rel="stylesheet" th:href="@{/css/hover-min.css}">
        <!-- Custom css -->
        <link rel="stylesheet" th:href="@{/css/app.css}"/> 

        <link rel="stylesheet" th:href="@{/css/mobile_apps.css}"/> 


        <title> Universes E-commerce</title>
    </head>
    <body>
        <header>
            <!-- Site wrapper -->
            <div th:replace="front-header">

                <!-- Header  -->

            </div>
            <!-- =============================================== -->
        </header>
      <!-- main -->
            <div layout:fragment="main_content">main Content</div>


     
        <div class="row ma"></div>
        <!-- /.content-wrapper -->

        <footer>

            <div  th:replace="front-footer">

            </div>
        </footer>



        <script th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>

        <!-- Bootstrap -->
        <script th:src="@{/bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js}"></script>



        <!--owlcarousel-->

        <script th:src="@{/plugin/owlcarousel/owl.carousel.min.js}"></script>

        <!--        All Custom Js-->
        <script th:src="@{/js/app.js}"></script>

    </body>
</html>