<div   th:fragment="footer" >
    <section class="mt-5 d-sm-block storefront-footer-top">
        <div class="container">
            <div class="row" >

                <div class="col-sm-3 col-md-3 ">
                    <!--                    <h6 class="text-center font-weight-bold text-uppercase"> Universes E-Commerce </h6>-->

                    <div class="row">
                        <div class="col-xs-4 col-sm-3">
                            <i class="bi bi-headset storefront-footer-headset-icon"></i>
                        </div>
                        <div class="col-xs-8 col-sm-9">
                            <p class="h6">  Got Questions ? Call us 24/7!</p>
                            <p class="h5">Whats App</p>
                            <p class="h5" th:text="${session.globalSettings.whatsappNumber != null ? session.globalSettings.whatsappNumber : session.globalSettings.supportPhone}">01840188888</p>
                            <p class="" th:text="${session.globalSettings.address != null ? session.globalSettings.address : 'Address not set'}">Uttara, Dhaka, Bangladesh</p>
                            <p class="" th:if="${session.globalSettings.supportEmail != null}" th:text="${session.globalSettings.supportEmail}">support@example.com</p>
                            <p class=""> <i class="bi bi-geo-alt"></i> Find us on map </p>
                        </div>


                    </div>

                </div>

                <div class="col-sm-3 col-md-3 ">
                    <h6 class=" font-weight-bold text-uppercase">Company</h6>
                    <ul class="list-unstyled ">
                        <li><a class="nav-link px-0" th:href="@{/public/about-us}">About Us</a></li>
                        <li><a class="nav-link px-0" th:href="@{/public/contact-us}">Contact Us</a></li>
                        <li><a class="nav-link px-0" th:href="@{/public/help}">Help</a></li>
                        <li><a class="nav-link px-0" th:href="@{/public/privacy-policy}">Privacy Policy</a></li>
                        <li><a class="nav-link px-0" th:href="@{/public/terms-of-use}">Terms of Use</a></li>
                        <li><a class="nav-link px-0" th:href="@{/public/terms-and-conditions}">Term and Conditions</a></li>
                    </ul>
                </div>

                <div class="col-sm-3 col-md-3 ">
                    <h6 class=" font-weight-bold text-uppercase">My Account</h6>
                    <ul class="list-unstyled">
                        <li>
                            <a class="nav-link"
                               th:href="@{/public/help}">Track My Order</a></li>
                        <li>
                            <a class="nav-link"
                               th:href="@{/cart/index}">View Cart</a></li>
                        <li>
                            <a class="nav-link"
                               th:href="@{/public/member-login}">Sign In</a></li>
                        <li>
                            <a class="nav-link"
                               th:href="@{/public/front-registration}">Create Account</a></li>
                        <li>
                            <a class="nav-link"
                               th:href="@{/public/help}">Help</a></li>
                        <li>
                            <a class="nav-link"
                               th:href="@{/public/privacy-policy}">Privacy Policy</a></li>
                        <li>
                            <a class="nav-link"
                               th:href="@{/public/contact-us}">Contact Us</a></li>
                    </ul>
                </div>

                <div class="col-sm-3 col-md-3 ">
                    <h6 class=" font-weight-bold text-uppercase">Customer Service</h6>


                    <ul class="list-unstyled">
                        <li><a class="nav-link px-0" th:href="@{/public/payment-methods}">Payment Methods</a></li>
                        <li><a class="nav-link px-0" th:href="@{/public/returns-replacements}">Returns & Replacements</a></li>
                        <li><a class="nav-link px-0" th:href="@{/public/refund-returns-policy}">Refund and Returns Policy</a></li>
                        <li><a class="nav-link px-0" th:href="@{/public/help}">Support Center</a></li>
                        <li><a class="nav-link px-0" th:href="@{/public/shipping-rates-policies}">Shipping Rates & Policies</a></li>
                        <li><a class="nav-link px-0" th:href="@{/public/terms-and-conditions}">Term and Conditions</a></li>
                    </ul>
                </div>


                <div class="col-sm-12 col-md-12  ">

                    <h4 class="text-center">We Accept Payment By:</h4>
                    <img  class="img-fluid  " th:src="@{/img/pay.png}"  />


                </div>

            </div>
        </div>
    </section> <!--  End Footer Top-->
    <section class="d-none d-sm-block storefront-footer-bottom">
        <div class="container">
            <div  class="row justify-content-center ">
                <span class="align-middle">Powered By :
                    <a class="link-underline-light" th:href="${session.globalSettings.siteUrl != null ? session.globalSettings.siteUrl : '#'}" target="_blank" th:text="${session.globalSettings.siteName}">Musapir</a>.
                    <a class="link-underline-light ms-2" th:href="@{/public/privacy-policy}">Privacy Policy</a> |
                    <a class="link-underline-light" th:href="@{/public/terms-of-use}">Terms of Use</a> |
                    <a class="link-underline-light" th:href="@{/public/help}">Support</a>
                </span>
                <!--                  <span class="align-middle">   Powered By : <a  class="textOrange"href="#" target="_blank" > Universes E-Commerce </a> .&nbsp;  Privacy Policy | Terms of Use | License | Support
                                </span>-->
            </div>
        </div>
    </section>  <!--  End Footer bottom-->
</div>
