<div   th:fragment="footer" >
    <section   class="mt-5  d-sm-block "style="background-color: #F8F8F8; padding: 50px 0px 10px 0px; border-top: 4px solid #e1e1e1; ">
        <div class="container">
            <div class="row" >

                <div class="col-sm-3 col-md-3 ">
                    <!--                    <h6 class="text-center font-weight-bold text-uppercase"> Universes E-Commerce </h6>-->

                    <div class="row">
                        <div class="col-xs-4 col-sm-3">
                            <i class="bi bi-headset"  style="font-size: 3rem;"></i>
                        </div>
                        <div class="col-xs-8 col-sm-9">
                            <p class="h6">  Got Questions ? Call us 24/7!</p>
                            <p class="h5">Whats App</p>
                            <p class="h5"> 01840188888</p>
                            <p class="">   Uttara, Dhaka, Bangladesh</p>
                            <p class=""> <i class="bi bi-geo-alt"></i> Find us on map </p>
                        </div>


                    </div>

                </div>

                <div class="col-sm-3 col-md-3 ">
                    <h6 class=" font-weight-bold text-uppercase">Company</h6>
                    <ul class="list-unstyled ">
                        <li>About Us</li>
                        <li>Team Member</li>
                        <li>Career</li>
                        <li>Contact Us</li>
                        <li>Affilate</li>
                        <li>Order History</li>
                    </ul>
                </div>

                <div class="col-sm-3 col-md-3 ">
                    <h6 class=" font-weight-bold text-uppercase">My Account</h6>
                    <ul class="list-unstyled">
                        <li>
                            <a class="nav-link"
                               th:href="@{/front-view/privacy_policy}">Track My Order</a></li>
                        <li>
                            <a class="nav-link"
                               th:href="@{/front-view/contactUs}">View Cart</a></li>
                        <li>
                            <a class="nav-link"
                               th:href="@{/front-view/privacy_policy}">Sign In</a></li>
                        <li>
                            <a class="nav-link"
                               th:href="@{/front-view/contactUs}"> Help </a></li>
                        <li>
                            <a class="nav-link"
                               th:href="@{/front-view/contactUs}">My Wishlist </a></li>
                        <li>
                            <a class="nav-link"
                               th:href="@{/front-view/privacy_policy}">Privacy Policy</a></li>
                        <li>
                            <a class="nav-link"
                               th:href="@{/front-view/contactUs}">Contact Us</a></li>
                    </ul>
                </div>

                <div class="col-sm-3 col-md-3 ">
                    <h6 class=" font-weight-bold text-uppercase">Customer Service</h6>


                    <ul class="list-unstyled">
                        <li>Payment Methods</li>
                        <li>Returns & Replacements</li>
                        <li>Refund and Returns Policy</li>
                        <li>Support Center</li>
                        <li>Shipping Rates & Policies</li>
                        <li>Term and Conditions</li>
                    </ul>
                </div>


                <div class="col-sm-12 col-md-12  ">

                    <h4 class="text-center">We Accept Payment By:</h4>
                    <img  class="img-fluid  " th:src="@{/img/pay.png}"  />


                </div>

            </div>
        </div>
    </section> <!--  End Footer Top-->
    <section  class ="d-none d-sm-block " style=" min-height:50px; padding-top: 15px">
        <div class="container">
            <div  class="row justify-content-center ">
                <span class="align-middle">   Powered By : <a  class="textOrange"href="#" target="_blank" > Musapir </a> .&nbsp;  Privacy Policy | Terms of Use | License | Support
                </span>
                <!--                  <span class="align-middle">   Powered By : <a  class="textOrange"href="#" target="_blank" > Universes E-Commerce </a> .&nbsp;  Privacy Policy | Terms of Use | License | Support
                                </span>-->
            </div>
        </div>
    </section>  <!--  End Footer bottom-->
</div>
