<div class=" d-block d-sm-none p-1">
    <div class="d-flex flex-wrap">
        <div class="p-1"><a type="button" class="btn btn-outline-danger btn-sm" th:href="@{/instructor/}"> <span class="fa-li"><i class="fas fa-wallet"></i></span>Home </a></div>
        <div class="p-1"><a type="button" class="btn btn-outline-danger btn-sm" th:href="@{/instructor-exam/categorylist}"><span class="fa-li"><i class="fas fa-book-open"></i></span>Add Exam</a></div>
        <div class="p-1"><a type="button" class="btn btn-outline-danger btn-sm" th:href="@{/instructor-exam/index}"> <span class="fa-li"><i class="fas fa-list"></i></span>Exam List</a></div>
        <div class="p-1"><a type="button" class="btn btn-outline-danger btn-sm" th:href="@{/vendor-order/index}"> <span class="fa-li"><i class="fas fa-cart-plus"></i></span>Sales</a></div>
        <div class="p-1"><a type="button" class="btn btn-outline-danger btn-sm" th:href="@{/vendorprofile/index}"> <span class="fa-li"><i class="fas fa-map-marked"></i></span> Profile</a></div>
        <div class="p-1"><a type="button" class="btn btn-outline-danger btn-sm" th:href="@{/vendorprofileimage/index}"> <span class="fa-li"><i class="fas fa-map-marked"></i></span> Profile Image</a></div>
<!--        <div class="p-1"><a class="textMaroon" th:href="@{/instructor}"> <span class="fa-li"><i class="fas fa-map-marked"></i></span> Addresses</a></div>
        <div class="p-1"><a class="textMaroon" th:href="@{/instructor}"> <span class="fa-li"><i class="fas fa-credit-card"></i> </span>Payment Options</a></div>
        <div class="p-1"><a class="textMaroon " th:href="@{/instructor}"> <span class="fa-li"><i class="fas fa-lock"></i> </span>Login & Security</a></div>
        <div class="p-1"><a class="textMaroon " th:href="@{/instructor}"> <span class="fa-li"><i class="far fa-bell"></i></span> Notifications</a></div>-->
    </div>  
</div>


