<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="front-layout-inner-customar-page">
    <div layout:fragment = "main_content">


        <section class=" d-none d-sm-block">
            <div class="row">

                <div class="col-sm-12">


                    <div class="card">
                        <div class="card-header bg-info ">
                            <div class="row">  <div class="col-sm-12">  

                                    <h5 class="font-weight-bold text-white"><i class="fas fa-list"></i> Customer Dashboards . <small>Welcome Mr.<span th:text="${username}"> </span></small></h5></div>

                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">

                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <i class="fas fa-cart-plus"></i> Pending Order List: 
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">

                                                <table class="table table-bordered" th:if="${ not #lists.isEmpty(orderlist_panding)}">

                                                    

                                                    <tr>
                                                        <td>#</td>
                                                        <td>Order Date</td>
                                                        <td>Status</td>
                                                        <td>Payment</td>
                                                    </tr>
                                                    <tr th:each="orderlists,status:${orderlist_panding}">
                                                        <td th:text="${orderlists.id}"></td>
                                                        <td th:text="${orderlists.created}"></td>
                                                        <td th:text="${orderlists.status}"></td>
                                                        <td> <a  type=" button"  class=" btn btn-sm btn-success" th:href="@{/customer-order/payment/{orderid}(orderid=${orderlists.id})}"> Pay Now </a> </td>
                                                    </tr>
                                                </table>
                                                <table class="table table-bordered" th:if="${ #lists.isEmpty(orderlist_panding)}">
                                                    <tr>
                                                        <td> Sorry no order pending for payment ! </td>
                                                    </tr>


                                                </table>
                                            </div>
                                        </div>
                                        <div class="card-footer ">

                                        </div>
                                    </div>

                 

                                </div>      </div>
                        </div>
                    </div></div></div>

        </section>




        <section class=" mobile d-block d-sm-none">
            <div class="row">

                <div class="col-12">

                    <div   th:replace="mobile-top-nav">
                        Left side column. contains the sidebar 

                        Left Side 
                        =============================================== 
                    </div>


                    <div class="row mt-4"> </div> 
                    <div   th:replace="customer_mobile_top_navigation">
                        Left side column. contains the sidebar 

                        Left Side 
                        =============================================== 
                    </div>



                </div>
                <div class="col-12">


                    <div class="card">
                        <div class="card-header bgMaroon ">
                            <div class="row">  <div class="col-sm-12">  

                                    <h5 class="font-weight-bold text-white"><i class="fas fa-list"></i> Your Bonus . <small> Mr.<span th:text="${username}"> </span></small></h5></div>

                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">

                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <i class="fas fa-cart-plus"></i> Pending Order List: 
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">

                                                <table class="table table-bordered" th:if="${ not #lists.isEmpty(orderlist_panding)}">

                                                    

                                                    <tr>
                                                        <td>#</td>
                                                        <td>Order Date</td>
                                                        <td>Status</td>
                                                        <td>Payment</td>
                                                    </tr>
                                                    <tr th:each="orderlists,status:${orderlist_panding}">
                                                        <td th:text="${orderlists.id}"></td>
                                                        <td th:text="${orderlists.created}"></td>
                                                        <td th:text="${orderlists.status}"></td>
                                                        <td> <a  type=" button"  class=" btn btn-sm btn-success" th:href="@{/customer-order/payment/{orderid}(orderid=${orderlists.id})}"> Pay Now </a> </td>
                                                    </tr>
                                                </table>
                                                <table class="table table-bordered" th:if="${ #lists.isEmpty(orderlist_panding)}">
                                                    <tr>
                                                        <td> Sorry no order pending for payment ! </td>
                                                    </tr>


                                                </table>
                                            </div>
                                        </div>
                                        <div class="card-footer ">

                                        </div>
                                    </div>

              

                                </div>      </div>
                        </div>

                    </div></div></div>
            
            
            <section class="mb-5"></section>

            <div th:replace="bottom-nav"> </div>
        </section>



    </div>
</div>