<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="front-layout-inner-customar-page">
    <div layout:fragment = "main_content">


        <section class=" d-none d-sm-block">

            <div class="card">
                <div class="card-header bg-info">

                    <h5 class="font-weight-bold text-white"><i class="fas fa-list"></i> Customer Dashboards . <small>Welcome Mr.<span th:text="${username}"> </span></small></h5>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">


                            <div class="card-body">
                                <div class="row">

                                    <div class="col-sm-6">
                                        <div class="card mb-3">
                                            <div class="card-header">
                                                <i class="fas fa-list"></i> SMS Statistics
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title"></h5>
                                                <p class="card-text"></p>

                                            </div>
                                        </div>
                                    </div>




                                    <div class="col-sm-6">
                                        <div class="card mb-3">
                                            <div class="card-header">
                                                <i class="fas fa-list"></i>  Whatsapp Statistics
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title"></h5>
                                                <p class="card-text"></p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card mb-3">
                                            <div class="card-header">
                                                <i class="fas fa-list"></i>  SMS Whatsapp & Emails Details Report
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title"></h5>
                                                <p class="card-text"></p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card mb-3">
                                            <div class="card-header">
                                                <i class="fas fa-list"></i>  New User
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title"></h5>
                                                <p class="card-text"></p>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-sm-6">
                                        <div class="card mb-3">
                                            <div class="card-header">
                                                <i class="fas fa-list"></i>  Latest Payment
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title"></h5>
                                                <p class="card-text"></p>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-sm-6">
                                        <div class="card mb-3">
                                            <div class="card-header">
                                                <i class="fas fa-list"></i>  Amount
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title"></h5>
                                                <p class="card-text"></p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div>      </div>
                </div>
            </div>

        </section>








    </div>
</div>