<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="front-layout-inner-customar-page">
    <div layout:fragment = "main_content">


        <section class="">
            <div class="row">

                <div class="col-sm-12">


                    <div class="card">
                        <div class="card-header  ">
                            <div class="row">  <div class="col-sm-12">

                                    <h5 class="font-weight-bold "><i class="fas fa-list"></i> Your Team List  [[${refeList.size()}]]</h5></div>

                            </div>
                        </div>
                        <div class="card-body">


                            <div class="table-responsive">
                                <table id="example" class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Referral Code</th>
                                            <th>Mobile</th>
                                            <th>Email</th>
                                            <th>Status</th>
                                            <th>Remark</th>
                                            <th>Created Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="alluser,status:${refeList}">
                                            <td th:text="${status.count}">2.</td>
                                            <td th:text="${alluser.referredUser.firstName}">Chakma</td>
                                            <td th:text="${alluser.referredUser.lastName}">Chakma</td>
                                            <td th:text="${alluser.referralCode}">Chakma</td>
                                            <td th:text="${alluser.referredUser.mobile}">Chakma</td>
                                            <td th:text="${alluser.referredUser.email}">Chakma</td>
                                            <td th:text="${alluser.referredUser.status}">Chakma</td>
                                            <td th:text="${alluser.referredUser.remarks}">Chakma</td>
                                            <td th:text="${alluser.referredUser.createdOn}">Chakma</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--                                                <table class="table table-bordered" th:if="${ #lists.isEmpty(orderlist_panding)}">
                                                                                    <tr>
                                                                                        <td> Sorry no team member is found ! </td>
                                                                                    </tr>


                                                                                </table>-->

                            </div>





                        </div>
                    </div></div></div>

        </section>


    </div>
</div>