<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">
    <div layout:fragment = "main_content">
        <section>
            <div class="d-flex justify-content-start align-items-center mb-4">
                <h2 class="mb-0 me-3">Sales</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a  class="nav-link"href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sales Order Details</li>
                    </ol>
                </nav>
            </div>
        </section>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row"> <div class="col-sm-5 font-weight-bold  ">
                                <i class="bi bi-list-task"></i> Order Details (#[[${orderdetails.orderCode}]])
                            </div>
                            <div class="col-sm-7 text-end">
                                <div class="btn-group ">
                                    <a class="btn btn-success btn-sm float-right"  th:href="@{/admin-customer/pdf/{oid}(oid=${orderdetails.id})}" >PDF</a>
                                    <a th:href="@{/admin-customer/orderlist}" type="button" class="btn  btn-danger btn-sm"><i class="bi bi-x-circle"></i> Close</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="card">
                                    <div class="card-header ">
                                        <i class="fas fa-shopping-cart"></i> Order Details
                                    </div>
                                    <ul class="list-group  list-group-flush">
                                        <li class="list-group-item"> Order No:  <span th:text="${orderdetails.orderCode}"></span></li>
                                        <li class="list-group-item"> Date:<span th:text="${orderdetails.created}"></span>
                                            <!--                                            <span th:text="${#dates.format(orderdetails.created, 'dd-MM-yyyy hh:mm:ss a', 'Asia/Dhaka')}"></span>-->
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-header ">
                                        <i class="fas fa-user"></i> Customer Details
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Customer Name: <span>   [[${orderdetails.customer.firstName}]] [[${orderdetails.customer.lastName}]] </span> </li>
                                        <li class="list-group-item">Email: <span th:text="${orderdetails.customer.email}"></span></li>
                                        <li class="list-group-item">Mobile: <span th:text="${orderdetails.customer.mobile}"></span></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-sm-5">
                                <div class="card">
                                    <div class="card-header ">
                                        Status
                                    </div>
                                    <table class="table ">
                                        <thead>
                                            <tr>

                                                <th scope="col"> Present Order Status</th>
                                                <td scope="col"><span th:text="${orderdetails.status}"></span></td>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="2">

                                                    <label class="my-2" > Update Status </label>

                                                    <form  th:action="@{/admin-customer/statuschange}">

                                                        <input type="hidden" name="id" th:value="${orderdetails.id}"  />
                                                        <select id="" class="form-control col-sm-3"  name="status" required>
                                                            <option value=""> Select one</option>
                                                            <option th:each =" statusTypes : ${statusType}"
                                                                    th:value="${statusTypes} "
                                                                    th:text="${statusTypes}"> Select one</option>
                                                        </select>
                                                        <div class="form-group">
                                                            <label class="my-2" >Remark </label>
                                                            <input type="text" class="form-control col-sm-3" name="remark"  />

                                                        </div>
                                                        <div class="form-group  mt-2 text-center">
                                                            <button type="submit"  id="submitBtn" class="btn btn-success"> <i class="bi bi-check-circle"></i>  Update</button>
                                                        </div>

                                                    </form>

                                                </td>





                                            </tr>



                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="col-sm-12">
                                <div class="card mt-3 mb-3">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <!-- Left Button -->
                                        <div>
                                            <i class="bi bi-list-task me-1"></i> Product Line
                                        </div>
                                        <!-- Right Button -->
                                        <div>
                                            <a href="#" class="btn btn-success btn-sm">
                                                Add shipping Charge
                                            </a>
                                            <a href="#" class="btn btn-success btn-sm">
                                                Add Packaging Cost
                                            </a>
                                        </div>
                                    </div>





                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered"
                                                   th:if="${not #lists.isEmpty(orderdetails.orderItem)}">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Product</th>
                                                        <th scope="col">Photo</th>
                                                        <th scope="col">Sales price</th>
                                                        <th scope="col">Quantity</th>
                                                        <th scope="col">Discount Rate %</th>
                                                        <th scope="col">Discount Amount</th>
                                                        <th scope="col">Market Place Commission Rate %</th>
                                                        <th scope="col">Market Place Commission Amount</th>
                                                        <th scope="col">Vendor Amount</th>
                                                        <th scope="col">Vat Rate %</th>
                                                        <th scope="col">Vat Amount</th>
                                                        <th scope="col">Item Total</th>
                                                        <th scope="col">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="orderItems,status:${orderitem}">
                                                        <th>[[${status.count}]]</th>
                                                        <td>
                                                            <a class="nav-link"
                                                               th:href="@{/public/single-product/{prodid}(prodid=${orderItems.productid})}">
                                                                <span th:text="${orderItems.title}"></span>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <span th:if="${not #strings.isEmpty(orderItems.imageName)}">
                                                                <img th:src="@{/files/}+${orderItems.imageName}"
                                                                     class="img-fluid rounded" width="100" height="100"/>
                                                            </span>
                                                            <span th:if="${#strings.isEmpty(orderItems.imageName)}">Image Not Found</span>
                                                        </td>
                                                        <td th:text="${orderItems.salesPrice}"></td>
                                                        <td th:text="${orderItems.quantity}"></td>
                                                        <td th:text="${orderItems.discountRate}"></td>
                                                        <td th:text="${orderItems.discountAmount}"></td>
                                                        <td th:text="${orderItems.marketPlaceCommissionRate}"></td>
                                                        <td th:text="${orderItems.marketPlaceCommissionAmount}"></td>
                                                        <td th:text="${orderItems.vendorAmount}"></td>
                                                        <td th:text="${orderItems.vatRate}"></td>
                                                        <td th:text="${orderItems.vatAmount}"></td>
                                                        <td th:text="${orderItems.itemTotal}"></td>
                                                        <td><button class="btn btn-sm btn-danger">Delete</button></td>
                                                    </tr>

                                                    <!-- Totals Row -->
                                                    <tr class="fw-bold table-light">
                                                        <td></td><td></td><td></td>
                                                        <td>[[${total_sales_price}]]</td>
                                                        <td>[[${total_quantity}]]</td>
                                                        <td></td>
                                                        <td>[[${total_discount}]]</td>
                                                        <td></td>
                                                        <td>[[${total_company_profit}]]</td>
                                                        <td>[[${total_vendorAmount}]]</td>
                                                        <td></td>
                                                        <td>[[${total_vat}]]</td>
                                                        <td>[[${item_total}]]</td>
                                                        <td></td>
                                                    </tr>

                                                    <!-- Packaging -->
                                                    <tr>
                                                        <td colspan="10"></td>
                                                        <td colspan="3">Packaging Cost</td>
                                                        <td>Edit</td>
                                                    </tr>

                                                    <!-- Shipping -->
                                                    <tr>
                                                        <td colspan="10"></td>
                                                        <td colspan="3">Shipping Charge</td>
                                                        <td>Edit</td>
                                                    </tr>

                                                    <!-- Grand Total -->
                                                    <tr class="fw-bold table-success">
                                                        <td colspan="10"></td>
                                                        <td colspan="2">Grand Total</td>
                                                        <td>[[${item_total}]]</td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <!-- If no orders -->
                                        <div class="table-responsive">
                                            <table class="table table-bordered" th:if="${#lists.isEmpty(orderdetails.orderItem)}">
                                                <tr>
                                                    <td>Sorry, no order found!</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">

                                <div class="card mt-3 mb-3">
                                    <div class="card-header ">
                                        <i class="far fa-comment"></i><i class="bi bi-list-task"></i> Billing Address
                                    </div>
                                    <div th:if="${billingAddress != null}">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th scope="col">First Name</th><td scope="col"> [[${billingAddress.firstName}]]</td>
                                                </tr> <tr>
                                                    <th scope="col">Last name</th><td scope="col"> [[${billingAddress.lastName}]] </td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">Company</th><td scope="col">[[${billingAddress.company}]]</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">Address Line One</th><td scope="col">[[${billingAddress.addressLineOne}]]</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">address Line Two</th><td scope="col">[[${billingAddress.addressLinetwo}]]</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">City</th><td scope="col">[[${billingAddress.city}]]</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">District</th><td scope="col">[[${billingAddress.district}]]</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">country</th><td scope="col">[[${billingAddress.country}]]</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">Post Code</th><td scope="col">[[${billingAddress.postCode}]]</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">Mobile</th><td scope="col">[[${billingAddress.mobile}]]</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">Email</th><td scope="col">[[${billingAddress.email}]]</td>
                                                </tr>
                                            </thead>

                                        </table>
                                    </div>
                                    <div th:unless="${billingAddress != null}">
                                        <p>No billing address available.</p>
                                    </div>
                                </div>


                            </div>

                            <div class="col-sm-6">

                                <div class="card mt-3 mb-3">
                                    <div class="card-header ">
                                        <i class="bi bi-list-task"></i>Shiping Address
                                    </div>
                                    <div th:if="${shippingAddress != null}">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th scope="col">First Name</th><td scope="col"> [[${shippingAddress.firstName}]]</td>
                                                </tr> <tr>
                                                    <th scope="col">Last name</th><td scope="col"> [[${shippingAddress.lastName}]] </td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">Company</th><td scope="col">[[${shippingAddress.company}]]</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">Address Line One</th><td scope="col">[[${shippingAddress.addressLineOne}]]</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">address Line Two</th><td scope="col">[[${shippingAddress.addressLinetwo}]]</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">City</th><td scope="col">[[${shippingAddress.city}]]</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">District</th><td scope="col">[[${shippingAddress.district}]]</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">country</th><td scope="col">[[${shippingAddress.country}]]</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">Post Code</th><td scope="col">[[${shippingAddress.postCode}]]</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">Mobile</th><td scope="col">[[${shippingAddress.mobile}]]</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">Email</th><td scope="col">[[${shippingAddress.email}]]</td>
                                                </tr>
                                            </thead>

                                        </table>
                                    </div>
                                    <div th:unless="${shippingAddress != null}">
                                        <p>No billing address available.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">

                                <div class="card mt-3 mb-3">
                                    <div class="card-header ">
                                        <i class="bi bi-list-task"></i>Order History
                                    </div>
                                    <table class="table table-bordered" th:if="${ not #lists.isEmpty(orderhistory)}">

                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Remark</th>
                                                <th scope="col">Order Status Changed By</th>
                                                <th scope="col">Created</th>
                                                <th scope="col">Created By</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr th:each="orderhistorys,status:${orderhistory}">
                                                <th> [[${status.count}]]</th>
                                                <td th:text="${orderhistorys.status}">Otto</td>
                                                <td th:text="${orderhistorys.remark}">Otto</td>
                                                <td th:text="${orderhistorys.OrderStatusChanged}">Otto</td>
                                                <td th:text="${orderhistorys.created}">Otto</td>
                                                <td th:text="${orderhistorys.createdBy}">Otto</td>
                                            </tr>
                                        </tbody>

                                    </table>

                                    <table class="table table-bordered" th:if="${ #lists.isEmpty(orderhistory)}">
                                        <tr>
                                            <td> Sorry no order found ! </td>
                                        </tr>
                                    </table>
                                </div>


                            </div>

                        </div>



                    </div><!--  Card body end-->






                </div><!--  Card  end-->


            </div>
        </div>
    </div></div>