
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="front-layout-inner-customar-page">
    <div layout:fragment = "main_content">
        <section>
            <div class="row">
                <div class="col-sm-3"><h4> Referral Rewards </h4></div>
                <div class="col-sm-5">   <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" class="nav-link">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Referral Rewards</li>
                            <li class="breadcrumb-item active" aria-current="page">Wallet </li>
                        </ol>
                    </nav>
                </div></div>
        </section>
        <hr/>
        <div class="row">
            <div class="col-sm-9">

                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-5 font-weight-bold "><strong> <i class="bi bi-list-task"></i> Wallet </strong> </div>

                            <div class="col-sm-7 text-end">
                                <!--                                <div class="btn-group ">
                                                                    <a class="btn btn-success btn-sm " th:href="@{/product/create}"> <i class="bi bi-plus-circle"></i> Add Product </a>
                                                                    <a th:href="@{/admin/index}" type="button" class="btn  btn-danger btn-sm"> <i class="bi bi-x-circle"></i> Close</a>
                                                                </div>-->
                            </div>

                        </div>
                    </div>
                    <div class="card-body table-responsive">
                        <div class="alert alert-info">
                            Balance: <strong th:text="${wallet}">0</strong> Taka
                        </div>

                    </div>
                </div><!--  Card  end-->


            </div><!--  Main Content  end-->

        </div>   <!--  Layout end-->      </div><!--  Main Content  end-->
</div>