<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorator="front-layout-inner-page">
    <div layout:fragment="main_content">

        <section  class="border-bottom" style="padding: 50px 0px 50px 0px;background-color: #faa619;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">  <h1 class="font-weight-bold" style="color: #fff;">    Cart:Checkout</h1></div>
                    <div class="col-sm-5 text-right" style="color: #ffffff">Home/cart/checkout</div>
                </div>
            </div>
        </section>

        <section>
            <div class="container pt-5 pb-5">
                <div class="row ">
                    <div class="col-sm-8">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Step 1: Checkout Options 
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="row">
                                            
                                                    <div class="table-responsive" th:if="${session.sessioncart!=null}" >
                                    <table class="table table-bordered  table-striped t">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Product</th>
                                                <th scope="col">Photo</th>
                                                <th scope="col">price</th>
                                                <th scope="col">Quantity</th>
                                                <th scope="col">Total</th>
                                        
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="cart,status:${session.sessioncart}">
                                                <th>1</th>
                                                <td><a    class="card-link text-warning" th:href="@{/front-view/single-product/{prodid}(prodid=${cart.exam.id})}" >  <span  th:text="${cart.exam.title}">    </span> </a></td>

                                                <td> <span th:if="${ not #strings.isEmpty(cart.exam.imageName)}" class="badge bg-green pull-right"> 
                                                        <img  class="img-responsive" th:src="@{/files/}+${cart.exam.imageName}" width="100px"  height="100px"/>
                                                    </span>

                                                    <span th:if="${#strings.isEmpty(cart.exam.imageName)}" > Image Not Found </span></td>

                                                <td th:text="${cart.exam.price}">Otto</td>

                                                <td th:text="${cart.quantity}">Otto</td>
                                                <td>
                                                    <div th:with="result=${cart.exam.price * cart.quantity}">

                                                        <span th:text="${#numbers.formatDecimal(result, 0, 'COMMA', 2, 'POINT')}">10.00</span> 

                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                            
                                            
                                            
                                            <div class="col-sm-6">

                                                <h3>New Customer</h3>

                                                Checkout Options:
                                                <br/>
                                                Register Account
                                                <br/>
<!--                                                Guest Checkout-->
                                                <br/>
                                                By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.


                                            </div>

                                            <div class="col-sm-6">

                                                <h3>Returning Customer</h3>

                                                I am a returning customer
                                                <br/>
                                                E-Mail
                                                <br/>
                                                Password Forgotten Password

                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Step 2: Account & Billing Details
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <form>
                                            <div class="row">

                                                <div class="col-sm-6">
                                                    Your Personal Details
                                                    <hr>

                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">First Name</label>
                                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First Name">
                                                        <small id="emailHelp" class="form-text text-muted"></small>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1"> Last Name</label>
                                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last Name">
                                                        <small id="emailHelp" class="form-text text-muted"></small>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Email address</label>
                                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email address">
                                                        <small id="emailHelp" class="form-text text-muted"></small>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputPassword1">Telephone/Mobile</label>
                                                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Telephone/Mobile">
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    Your Address
                                                    <hr>

                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Company</label>
                                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Company">
                                                        <small id="emailHelp" class="form-text text-muted"></small>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1"> Address 1</label>
                                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Address 1">
                                                        <small id="emailHelp" class="form-text text-muted"></small>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Address 2</label>
                                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Address 2">
                                                        <small id="emailHelp" class="form-text text-muted"></small>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1"> City</label>
                                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="City">
                                                        <small id="emailHelp" class="form-text text-muted"></small>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1"> Post Code </label>
                                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Post Code">
                                                        <small id="emailHelp" class="form-text text-muted"></small>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1"> Country</label>
                                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Country">
                                                        <small id="emailHelp" class="form-text text-muted"></small>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">  Region / State</label>
                                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Region / State">
                                                        <small id="emailHelp" class="form-text text-muted"></small>
                                                    </div>
                                                </div>

                                                <div class="form-check form-group">
                                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                    <label class="form-check-label" for="exampleCheck1"> I wish to subscribe to the Your Store newsletter.</label>
                                                </div>
                                                <div class="form-check form-group">
                                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                    <label class="form-check-label" for="exampleCheck1">  My delivery and billing addresses are the same. </label>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Step 3: Delivery Details
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">


                                        Delivery Details
                                        <hr>
                                        <form>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">First Name</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First Name">
                                                <small id="emailHelp" class="form-text text-muted"></small>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1"> Last Name</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last Name">
                                                <small id="emailHelp" class="form-text text-muted"></small>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email address</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email address">
                                                <small id="emailHelp" class="form-text text-muted"></small>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Telephone/Mobile</label>
                                                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Telephone/Mobile">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Company</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Company">
                                                <small id="emailHelp" class="form-text text-muted"></small>
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputEmail1"> Address 1</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Address 1">
                                                <small id="emailHelp" class="form-text text-muted"></small>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Address 2</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Address 2">
                                                <small id="emailHelp" class="form-text text-muted"></small>
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputEmail1"> City</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="City">
                                                <small id="emailHelp" class="form-text text-muted"></small>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1"> Post Code </label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Post Code">
                                                <small id="emailHelp" class="form-text text-muted"></small>
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputEmail1"> Country</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Country">
                                                <small id="emailHelp" class="form-text text-muted"></small>
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputEmail1">  Region / State</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Region / State">
                                                <small id="emailHelp" class="form-text text-muted"></small>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>


                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Step 4: Delivery Method
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Please select the preferred shipping method to use on this order.
                                        <br/>
                                        Flat Rate
                                        Flat Shipping Rate - $5.00
                                        <br/>
                                        Add Comments About Your Order Flat Rate
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                            Step 5: Payment Method
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Please select the preferred payment method to use on this order.
                                        <br/>
                                        Cash On Delivery
                                        <br/>
                                        Add Comments About Your Order
                                        <br/>
                                        I have read and agree to the Terms & Conditions 
                                        <br/>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                            Step 6: Confirm Order
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="table-responsive" th:if="${session.sessioncart!=null}" >
                                            <table class="table table-bordered  table-striped t">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Product</th>
                                                        <th scope="col">Photo</th>
                                                        <th scope="col">price</th>
                                                        <th scope="col">Quantity</th>
                                                        <th scope="col">Total</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="cart,status:${session.sessioncart}">
                                                        <th>1</th>
                                                        <td><a    class="card-link text-warning" th:href="@{/front-view/single-product/{prodid}(prodid=${cart.ourproduct.id})}" >  <span  th:text="${cart.ourproduct.title}">    </span> </a></td>

                                                        <td> <span th:if="${ not #strings.isEmpty(cart.ourproduct.imageName)}" class="badge bg-green pull-right"> 
                                                                <img  class="img-responsive" th:src="@{/files/}+${cart.ourproduct.imageName}" width="100px"  height="100px"/>
                                                            </span>

                                                            <span th:if="${#strings.isEmpty(cart.ourproduct.imageName)}" > Image Not Found </span></td>

                                                        <td th:text="${cart.ourproduct.price}">Otto</td>

                                                        <td th:text="${cart.quantity}">Otto</td>
                                                        <td>
                                                            <div th:with="result=${cart.ourproduct.price * cart.quantity}">

                                                                <span th:text="${#numbers.formatDecimal(result, 0, 'COMMA', 2, 'POINT')}">10.00</span> 

                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer"> 
                            <a th:href="@{/front-view/product}" type="button" class="btn btn-sm btn-success"> Confirm Order</a>
                        </div>
                    </div>
                    <div class="col-sm-4">

                        <div class="card">
                            <div class="card-header">
                                <i class="fas fa-money-check text-warning"></i>  Order   Summary
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Sub Total:<span th:text="${#numbers.formatDecimal(subtotal, 0, 'COMMA', 2, 'POINT')}">10.00</span> /-</li>

                                <li class="list-group-item">Order Total: <span th:text="${#numbers.formatDecimal(subtotal, 0, 'COMMA', 2, 'POINT')}">10.00</span>/-</li>
                                <!--                                <li class="list-group-item">
                                                                    <a type="button" class="btn btn-block btn-sm btn-warning">Update Shopping  Cart</a> 
                                                                </li>-->
                                <li class="list-group-item">
                                    <a type="button" class="btn btn-block btn-sm btn-warning" th:href="@{/cart/shipping}"> Confirm Order</a> 
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>