<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="admin-layout">
    <div layout:fragment = "main_content">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row"> <div class="col-sm-5 font-weight-bold textMaroon "><i class="fas fa-list"></i> Order Details</div>
                            <div class="col-sm-7 "> <a class="btn btn-danger btn-sm float-right" th:href="@{/order/index}">Close</a></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-header textMaroon">
                                        <i class="fas fa-shopping-cart"></i> Order Details
                                    </div>
                                    <ul class="list-group  list-group-flush">
                                        <li class="list-group-item">  <i class="fas fa-shopping-cart"> </i> <span th:text="${orderdetails.id}"></span></li>
                                        <li class="list-group-item"><i class="fas fa-calendar-alt"></i> <span th:text="${orderdetails.created}"></span> </li>

                                    </ul>
                                </div> 

                            </div>
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-header textMaroon">
                                        <i class="fas fa-user"></i> Customer Details
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><i class="fas fa-portrait"></i> <span th:text="${orderdetails.customer.name}"></span> </li>
                                        <li class="list-group-item"><i class="fas fa-envelope-square"></i>  <span th:text="${orderdetails.customer.email}"></span></li>
                                        <li class="list-group-item"><i class="fas fa-phone-square-alt"></i> <span th:text="${orderdetails.customer.mobile}"></span></li>
                                    </ul>
                                </div> 

                            </div>

                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-header textMaroon">
                                        <i class="fas fa-cog"></i>  Options
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Order Status :<span th:text="${orderdetails.status}"></span></li>
                                        <li class="list-group-item"> 

                                            <a type="button" class="btn btn-danger" th:href="@{/order/statuschange/{oid}(oid=${orderdetails.id})}">    Order Complete </a>

                                        </li>

                                    </ul>
                                </div> 

                            </div>


                            <div class="col-sm-12">

                                <div class="card mt-3 mb-3">
                                    <div class="card-header textMaroon">
                                        <i class="fas fa-info-circle"></i>  Order (# <span th:text="${orderdetails.id}"></span>)
                                    </div>
                                    <table class="table table-bordered" th:if="${ not #lists.isEmpty(orderdetails.orderItem)}">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Sales Order</th>
                                                <th scope="col"> Item Title</th>
                                                <th scope="col">Price</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr th:each="orderItems,status:${orderdetails.orderItem}">
                                                <td><span th:text="${orderItems.id}"></span></td>
                                                <td><span th:text="${orderItems.salesOrder.id}"></span></td>
                                                <td><span th:text="${orderItems.product.title}"></span></td>
                                                <td><span th:text="${orderItems.product.salesPrice}"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    
                                    <table class="table table-bordered" th:if="${ #lists.isEmpty(orderdetails.orderItem)}">
                                        <tr>
                                            <td> Sorry no order found ! </td>
                                        </tr>


                                    </table>


                                </div>   


                            </div>

                            <div class="col-sm-12">

                                <div class="card mt-3 mb-3">
                                    <div class="card-header textMaroon">
                                        <i class="far fa-comment"></i> Order History
                                    </div>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">First</th>
                                                <th scope="col">Last</th>
                                                <th scope="col">Handle</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>@mdo</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Jacob</td>
                                                <td>Thornton</td>
                                                <td>@fat</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td colspan="2">Larry the Bird</td>
                                                <td>@twitter</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>   


                            </div>

                        </div>  



                    </div><!--  Card body end-->

                    <div class="card-footer">
                    </div> <!--  Card footer end-->
                </div><!--  Card  end-->


            </div>
        </div>
    </div></div>