<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="front-layout-inner-page">
    <div layout:fragment = "main_content">


        <section  class="border-bottom" style="padding: 50px 0px 50px 0px;background-color: #ffc107;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">  <h1 class="font-weight-bold" style="color: #fff;">    Advisory Council </h1></div>
                    <div class="col-sm-5 text-right" style="color: #ffffff">Home/About Us/Advisory Council</div>
                </div>
            </div>
        </section>

        <section style="padding: 40px 0px 100px 0px">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 ">
                        <h1 class="text-center">Our Honorable Advisors</h1>
                        <div class=" row justify-content-center" style="padding: 20px 0px 80px 0px">
                            <div class="col-md-7 text-center"> 
                            </div>
                        </div>
                    </div>



                    <div class="col-sm-3 col-md-3 col-xs-12 m-1">
                        <div class="card" style="width: 18rem;">
                            <img  class="img-fluid img-thumbnail " th:src="@{/img/about.jpg}" />
                            <div class="card-body">
                                <h5 class="card-title">Md Belayet Hossain</h5>
                                <p class="card-text">CEO IT Garden</p>
                            </div>
                            <ul class="list-group list-group-flush">

                                <li class="list-group-item">B.sc in CIS</li>
                                <li class="list-group-item">London Mertopoliton University</li>
                                <li class="list-group-item">Blood Group: O+</li>
                            </ul>
                            <div class="card-body">
                                <a href="#" class="card-link">Details</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>



                    </div>             <div class="col-sm-3 col-md-3 col-xs-12 m-1">
                        <div class="card" style="width: 18rem;">
                            <img  class="img-fluid img-thumbnail " th:src="@{/img/about.jpg}" />
                            <div class="card-body">
                                <h5 class="card-title">Md Belayet Hossain</h5>
                                <p class="card-text">CEO IT Garden</p>
                            </div>
                            <ul class="list-group list-group-flush">

                                <li class="list-group-item">B.sc in CIS</li>
                                <li class="list-group-item">London Mertopoliton University</li>
                                <li class="list-group-item">Blood Group: O+</li>
                            </ul>
                            <div class="card-body">
                                <a href="#" class="card-link">Details</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>



                    </div>       <div class="col-sm-3 col-md-3 col-xs-12 m-1">
                        <div class="card" style="width: 18rem;">
                            <img  class="img-fluid img-thumbnail " th:src="@{/img/about.jpg}" />
                            <div class="card-body">
                                <h5 class="card-title">Md Belayet Hossain</h5>
                                <p class="card-text">CEO IT Garden</p>
                            </div>
                            <ul class="list-group list-group-flush">

                                <li class="list-group-item">B.sc in CIS</li>
                                <li class="list-group-item">London Mertopoliton University</li>
                                <li class="list-group-item">Blood Group: O+</li>
                            </ul>
                            <div class="card-body">
                                <a href="#" class="card-link">Details</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>



                    </div>       <div class="col-sm-3 col-md-3 col-xs-12 m-1">
                        <div class="card" style="width: 18rem;">
                            <img  class="img-fluid img-thumbnail " th:src="@{/img/about.jpg}" />
                            <div class="card-body">
                                <h5 class="card-title">Md jamal Uddin</h5>
                                <p class="card-text">Manager Sonali Bank</p>
                            </div>
                            <ul class="list-group list-group-flush">

                                <li class="list-group-item">B.sc in CIS</li>
                                <li class="list-group-item">London Mertopoliton University</li>
                                <li class="list-group-item">Blood Group: O+</li>
                            </ul>
                            <div class="card-body">
                                <a href="#" class="card-link">Details</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>



                    </div>   

                </div>  
            </div>
        </section>
    </div>
</div>