<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorator="front-layout-inner-page">
    <div layout:fragment="main_content">
        <section  class="border-bottom" style="padding: 50px 0px 50px 0px;background-color: #faa619;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">  <h1 class="font-weight-bold" style="color: #fff;">    ABOUT US </h1></div>
                    <div class="col-sm-5 text-right" style="color: #ffffff">Home/About Us</div>
                </div>
            </div>
        </section>
        <section class="bg-light" style="padding: 40px 0px 100px 0px">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 ">
                        <p>Zunshayn accepts responsibility for all activities carried out in its name worldwide. That holds especially true for decent working conditions for the people involved in the production. We emphasize that responsibility, which extends to all employees who produce for us, irrespective of whether they are employed by us or by our suppliers. </p>
                        <h4>Code of conduct</h4>
                        <p>Our code of conduct specifies the following criteria that we regard as being vital to our partnerships with suppliers:</p>


                        <ul class="list-group">
                            <li>all transactions in conformity with legal requirements</li>
                            <li>no child labour</li>
                            <li>no exploitation of individuals or groups</li>
                            <li>no forced labour</li>
                            <li>active care for health and safety</li>
                            <li>freedom to form unions/li>
                            <li>a fair wages and benefits policy</li>
                            <li>acceptable working hours</li>
                        </ul>

                    </div>
                </div>
            </div>
        </section>

    </div>
</div>