<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="front-layout-inner-page">
	<div layout:fragment="main_content">

            
                          <section  class="border-bottom" style="padding: 50px 0px 50px 0px;background-color: #faa619;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">  <h1 class="font-weight-bold" style="color: #fff;">Corporate Value </h1></div>
                    <div class="col-sm-5 text-right" style="color: #ffffff">Home/Corporate Value</div>
                </div>
            </div>
        </section>
		<section class="bg-light" style="padding: 40px 0px 100px 0px">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-12 ">
                                            <p class="mb-4 font-weight-bold">Our role is to be a service/product providing company,
							dedicated to minimizing the transaction risks for our clients and
							to protecting their interests by performing quality control
							inspections or engaging in direct production. Sound cooperate
							values are at the heart of our activities and business processes.
							GFG promotes a corporate culture based on the following
							principles:</p>

						<ul class="list-unstyled">
                                                    <li class="mb-3"> 1. We will acknowledge and earn the trust that our clients
								put in our company and our people, and we must protect their
								reputation and business. Our experience shows that if we serve
								our clients well, our own success will follow.</li>
							<li class="mb-3"> 2.Integrity and honesty define our people, and anchor our
								actions. We expect that our people maintain the highest ethical
								standards in everything they do, both in their work for the firm
								and in their personal lives. We respect not just the letter but
								the spirit of the law.</li>
							<li class="mb-3"> 3. As a services firm, we know that without the best
								people, we cannot be the best firm. We strive to hire the most
								talented and passionate people one by one, and provide daily
								opportunities to ensure they can continue to grow.</li>
							<li class="mb-3">4. We recognize that the best development and innovation
								opportunities come from our clients. We solicit and attentively
								listen to their ideas and their feedback.</li>
							<li class="mb-3">5. We have the conviction that our products and philosophy
								are the best, yet always seek to improve.</li>
							<li class="mb-3">6. We will not disclose confidential information from our
								client of any kind to any third party.</li>
							<li class="mb-3">7. We are committed to abiding by all the national laws,
								legislation and regulations of the countries in which we carry
								out inspections and audits.</li>
							<li class="mb-3">8. We take great pride in our business and are strongly
								committed to compliance with all local laws and/or any relevant
								Code of Conduct. We believe that we have put in place the
								necessary safeguards to ensure that our policy is effectively
								implemented throughout our organization.</li>
						</ul>


					</div>


				</div>
			</div>
		</section>

	</div>
</div>