<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="front-layout-inner-page">
    <div layout:fragment = "main_content">
        <section  class="border-bottom" style="padding: 50px 0px 50px 0px;background-color: #ffc107;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">  <h1 class="font-weight-bold" style="color: #fff;"> FAQ </h1></div>
                    <div class="col-sm-5 text-right" style="color: #ffffff">Home/FAQ</div>
                </div>
            </div>
        </section>

        <section style="padding: 40px 0px 100px 0px">
            <div class="container">
                <div class="row">
                    <div  class="col-sm-12 " th:each="faqlists,status:${faqlist}">
                        <h5 class=" "> <span  th:text="${faqlists.question}">    </span></h5>
                        <h6 class="">  <span  th:text="${faqlists.answer}">    </span></h6>
                    </div>
                </div>
            </div> 
        </section>
    </div>
</div>