<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="front-layout-inner-page">
    <div layout:fragment = "main_content">


        <section  class="border-bottom" style="padding: 50px 0px 50px 0px;background-color: #ffc107;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">  <h1 class="font-weight-bold" style="color: #fff;">    ABOUT US </h1></div>
                    <div class="col-sm-5 text-right" style="color: #ffffff">Home/About Us</div>
                </div>
            </div>
        </section>

        <section style="padding: 40px 0px 100px 0px">
            <div class="container">
                <div class="row">
                    <!--                    <div class="col-sm-12 col-md-12 ">
                                            <h1 class="text-center">ABOUT US</h1>
                                            <div class=" row justify-content-center" style="padding: 20px 0px 80px 0px">
                                                <div class="col-md-7 text-center"> Unify creative technology company providing key digital services. Focused on helping our clients to build a successful business on web and mobile.
                                                </div>
                                            </div>
                                        </div>-->
                    <div class="col-sm-12 col-md-12 ">

                        <div class="card ">

                            <div class="card-body">

                                <div  class=" row ">

                                   
                                    <h2  class="text-left" th:text="${singlenews.title}"></h2>
                                    
                                    <h6 class="text-left"><span class="font-weight-bold"> Author:</span><span th:text="${singlenews.createdBy}"></span> <span class="font-weight-bold">Publish Date:</span><span th:text="${singlenews.created}"> </span> </h6>
                                   
                                    <hr class="bg-danger">

                                    <span th:if="${ not #strings.isEmpty(singlenews.imageName)}" class="badge bg-green pull-right"> 
                                        <img  class="img-responsive img-fluid" th:src="@{/files/}+${singlenews.imageName}" />
                                    </span>

                                    <span th:if="${#strings.isEmpty(singlenews.imageName)}" > Image Not Found </span>






                                    <div class="" th:text="${singlenews.description}"></div>






                                </div>

                            </div>
                            <div class="card-footer">

                            </div>
                        </div>

                    </div>
                </div>  
            </div>
        </section>
    </div>
</div>