<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorator="front-layout-inner-page">
    <div layout:fragment="main_content">
        <section  class="border-bottom" style="padding: 50px 0px 50px 0px;background-color: #ffc107;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">  <h1 class="font-weight-bold" style="color: #fff;"> Product List </h1></div>
                    <div class="col-sm-5 text-right" style="color: #ffffff">Home/Product List</div>
                </div>
            </div>
        </section>

        <section>

            <div class="container">
                <div class="row mt-4">
                    <div class="col-sm-3">

                        <div class="card border-warning" >
                            <div class="card-header border-warning">
                                <h5 class="font-weight-bold text-warning"> <i class="fas fa-list"></i> Product Category</h5>
                            </div>
                            <ul class="list-group list-group-flush ">
                                <li class="list-group-item"th:each="productcategorylists,status:${productcategorylist}" >

                                    <a   class="text-muted"  th:href="@{/front-view/product-by-category/{prodcatid}(prodcatid=${productcategorylists.id})}" >  


                                        <span th:text="${productcategorylists.name}" ></span> <span  class="float-right badge badge-warning " th:text="${productcategorylists.ourproduct.size()}" ></span>
                                    </a></li>
                            </ul>
                        </div> 
                    </div>
                    <div class="col-sm-9">
                        <div class="card mb-4 border-warning">

                            <div class="card-header border-warning ">
                                <h5 class="font-weight-bold text-warning"> <i class="fas fa-list"></i> Product List</h5>
                            </div>
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-sm-4" th:each="productlists,status:${productlist}">

                                        <div class="card mb-4 hvr-bounce-in">
                                            <span th:if="${ not #strings.isEmpty(productlists.imageName)}" class=""> 
                                                <img  class="card-img-top" th:src="@{/files/}+${productlists.imageName}" />
                                            </span>
                                            <span th:if="${#strings.isEmpty(productlists.imageName)}" > 
                                                <img  class="card-img-top" th:src="@{/img/image-not-available.png}" /> 
                                            </span>

                                            <div class="card-body">
                                                <div class="card-title">
                                                    <h6 class="font-weight-bold text-warning text-center "><a    class="card-link text-warning" th:href="@{/front-view/single-product/{prodid}(prodid=${productlists.id})}" >  <span  th:text="${productlists.title}">    </span> </a></h6>
                                                    <h6 class=""> <span class="font-weight-bold">Price:</span> <span  th:text="${productlists.price}">    </span> /-</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>

                    </section>
                </div>
            </div>