<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorator="front-layout-inner-page">
    <div layout:fragment="main_content">
        <section  class="border-bottom" style="padding: 50px 0px 50px 0px;background-color: #faa619;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">  <h1 class="font-weight-bold" style="color: #fff;">Resources </h1></div>
                    <div class="col-sm-5 text-right" style="color: #ffffff">Home/Resource</div>
                </div>
            </div>
        </section>
        <section class="bg-light" style="padding: 40px 0px 100px 0px">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 ">

                        <div class="card">
                            <div class="card-header">
                              <i class="fas fa-list"></i>  Recourses List
                            </div> 

                            <div class="card-body">

                                Order Booking Form:<a class="btn text-green" th:href="@{/File/order_booking_form.xls}" th:attr="download=order_booking_form.xls">Download </a><br>
                                Sample Request Form:<a class="btn text-green" th:href="@{/File/sample_request_form.xls}" th:attr="download=sample_request_form.xls">Download </a>


                            </div>
                        </div>

                    </div></div></div>
        </section>

    </div>
</div>