<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorator="front-layout-inner-page">
    <div layout:fragment="main_content">

        <section  class="border-bottom" style="padding: 50px 0px 50px 0px;background-color: #faa619;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">  <h1 class="font-weight-bold" style="color: #fff;">Wholesale </h1></div>
                    <div class="col-sm-5 text-right" style="color: #ffffff">Home/Wholesale</div>
                </div>
            </div>
        </section>


        <section class="bg-light" style="padding: 40px 0px 100px 0px">
            <div class="container">


            </div>
        </section>

    </div>
</div>