<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorator="front-layout-inner-page">
    <div layout:fragment="main_content">


        <section  class="border-bottom" style="padding: 50px 0px 50px 0px;background-color: #faa619;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">  <h1 class="font-weight-bold" style="color: #fff;">    Trading Division </h1></div>
                    <div class="col-sm-5 text-right" style="color: #ffffff">Home/Trading Division</div>
                </div>
            </div>
        </section>

        <section class="bg-light" style="padding: 40px 0px 100px 0px">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 ">
                        <p>We have a wide range of factories producing all kinds of items for all age groups and at various price levels. </p>
                        <p>Many importers, wholesalers and retailers already have their own offices or a service agreement with other agents, but as a trader we can still offer and demonstrate our reliability as a direct supplier.</p>
                        <p>Due to our own professional set-up, we can offer rapid and reliable co-operation with our client, and still maintain our commitments.</p>
                        <p>Our trading division will only accept orders of 2000 pieces or more per style, which ensures that we can achieve the commitment we promise, and to work for each and every order in strict accordance with our pro-active time & action calendar.</p>
                        <p>All orders produced via this division are controlled and monitored by the Zunshayn agent division.  The trading division is in fact a client of the agent division, which allows us to guarantee uniform commitment, standards, and reliability.</p>
                        <p>Zunshayn has accumulated a wealth of experience in dealing with different factories for many kinds of products, and our business range is expanding all the time. Zunshayn is committed to building and improving our existing reliable supplier network.</p>

                    </div>


                </div>
            </div>
        </section>

    </div>
</div>


